@import url("https://use.typekit.net/fyw5yob.css");
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css");
*{
    margin: 0;
}

:root {
	--header-height: 5rem;
	--font-semi: 600;
	--font-bold: 700;
}

:root {
    --white-color:#f5f5f5;
    --dark-color:#101214;
    --grayishBlue: hsl(233, 5%, 37%);
}

:root {
	--body-font: 'poppins', sans-serif; 
	--big-font-size: 3rem;
	--h1-font-size: 1.5rem;
	--title:3rem;
	--about-title:2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: .938rem;
	--small-font-size: .75rem;
}

@media screen and (min-width: 768px) {
	:root {
	--big-font-size: 4rem;
	--h1-font-size: 2.25rem;
	--h2-font-size: 1.5rem;
	--title:5rem;
	--about-title:3rem;
	--normal-font-size: 1rem;
	--small-font-size: .813rem;
	}	
}

:root {
	--mb-1: .5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
}

:root {
	--z-tooltip: 10;
	--z-fixed: 100;
}

*,::before,::after{
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px;
}
  
::-webkit-scrollbar-track {
	background: #4f4f4f; 
}
   
::-webkit-scrollbar-thumb {
	background: rgb(99, 99, 99); 
}
  
::-webkit-scrollbar-thumb:hover {
	background: rgb(119, 119, 119); 
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
    background-color: #ededed;
    color: var(--dark-color);
    margin: 1em;
    line-height: 1.6;
}

h1,h2,p{
	margin: 0; 
}

a{
	text-decoration: none;
	color: var(--dark-color);
}

img{
	max-width: 100%;
	height: auto;
}

.text{
    color: var(--life);
}

.big{
    font-size: var(--h2-font-size);
}

.normal{
    font-size: var(--normal-font-size);
}

textarea{
    resize: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    padding: .8em;
    width: 100%;
    border: 1px solid rgb(180, 180, 180);

    border-radius: 10px;
}

#fileinput::-webkit-file-upload-button {
    visibility: hidden;
}

:root{
    --life:#1a1c1e;
}

#fileinput::before{
    content: 'Select an image';
    background-color: var(--life);
    border: none;
    display: inline-block;
    font-family: var(--body-font);
    padding: .9em;
    color: white;
    cursor: pointer;
    font-family: var(--body-font);
    border-radius: 5px ;
}

#fileinput{
    color: transparent;
}

:root{
    --posts-width:100% !important;
}

.bxl-github{
    font-size: var(--big-font-size);
    position: fixed;
    right:1rem;
    bottom: 1rem;
}

@media screen and (min-width:900px) {
    :root{
        --posts-width:40rem !important;
    }
}

@media screen and (max-width: 1336px) {
    :root{
        --posts-width:50rem;
    }
}

/*<==STARTPOST==>*/
.startpost{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start{
    background-color: var(--white-color);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
    padding: 1em;
    width: var(--posts-width);
    margin-top: 7rem;
}


#preview, #view{
    width: 100%;
}

#preview img, #preview video, #view img, #view video{
    width: 100%;
    margin-top: 1em;
    border-radius: 6px;
    object-fit: contain;
    object-position: center;
    max-height: 20rem;
}

.post{
    background-color: var(--life);
    color: white;
    border: none;
    margin-top: .2em;
    cursor: pointer;
    display: none;
    font-family: var(--body-font);
    padding: .7em 3em;
    font-family: var(--body-font);
    border-radius: 5px ;
}

/*<==POST==>*/
.userpost{
    margin-top: 4rem;
    background-color: var(--white-color);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
    padding: 1em;
    width: var(--posts-width);
}

.bxs-crown{
    font-size: large;
    color: rgb(254, 195, 0);
}

.creator img{
    border-radius: 10px;
    width: 40px;
}

.creator{
    display: flex;
    align-items: center;
}

.creator .normal{
    margin-left: 5px;
    font-size: large;
}

.description{
    font-size: medium;
    color: var(--grayishBlue);
}

.userposticons{
    display: flex;
    align-items: center;
    font-size: var(--h1-font-size);
}

.likes{
    color: rgb(255, 58, 58);
    font-family: "Poppins";
    display: flex;
    align-items: center;
}

.likes p{
    margin-top: 1vh;
    font-size: 20px;
}

.bx-message{
    color: #545454;
    margin-left: .3em;
    cursor: pointer;
}

#view{
    width: 100%;
    height: auto;
}

/*<==LOGIN==>*/
.verybig{
    font-size: var(--big-font-size);
    font-family: 'Lexend', sans-serif;
    color: var(--life);
}

.login{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login__comp{
    width: 100%;
    text-align: center;
}

.cmp__text{
    text-decoration: underline;
}

.login__btn{
    background-color: var(--life);
    color: white;
    cursor: pointer;
    border: none;
    display: inline-block;
    padding: .9em;
    border-radius: 5px ;
    font-size: var(--normal-font-size);
    padding-bottom: .6em;
}

/*<==LOADING===>*/

.loading{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading svg {
 width: 6.25em;
 transform-origin: center;
 animation: rotate4 2s linear infinite;
}

.loading svg circle {
 fill: none;
 stroke: var(--life);
 stroke-width: 2;
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
 stroke-linecap: round;
 animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
 100% {
  transform: rotate(360deg);
 }
}

@keyframes dash4 {
 0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
 }

 50% {
  stroke-dasharray: 90, 200;
  stroke-dashoffset: -35px;
 }

 100% {
  stroke-dashoffset: -125px;
 }
}

/*<==HEADER==>*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #ededed;
    border-bottom: 1px solid #c0c0c0;
}

.headerbtn{
    margin-left: 1em;
}

.friendverse{
    font-size: 32px;
    font-family: "Bangers";
}

/*<===COMMENTS===>*/
.comments{
    padding: 1em;
    display: flex;
    background-color: rgb(230, 230, 230);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.comment{
    border: 1px solid var(--life);
    width: 100%;
    border-radius: 5px;
    margin-top: 1em;
    padding: .7em;
    background-color: var(--white-color);
}

.comment:nth-child(1){
    margin-top: 0px;
}

.post__comment{
    font-size: var(--h2-font-size);
    background-color: var(--life);
    color: white;
    border: none;
    margin-top: .2em;
    cursor: pointer;
    font-family: var(--body-font);
    padding: .5em;
    border-radius: 5px ;
}

.addcomment{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(189, 189, 189);
    justify-content: space-between;
}

.post__input{
    width: 90%;
    font-family: var(--body-font);
    font-size: larger;
    padding: .5em;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--life);
    padding-bottom: 0px;
}

.banner{
    margin-top: 1em;
    width: 100%;
    height: 15rem;
    border-radius: 10px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #171616 74%);
    display: flex;
    justify-content:center;
    align-items: center;
}

.banner img{
    height: 200px;
    margin-top: 8em;
    box-shadow: 0px 0px 34px 0px rgba(38,38,38,0.75);
    -webkit-box-shadow: 0px 0px 34px 0px rgba(38,38,38,0.75);
    -moz-box-shadow: 0px 0px 34px 0px rgba(38,38,38,0.75);
    height: 200px;
    object-position: center;
    border-radius: 100%;
}

.username{
    text-align: center;
    margin-top: 1.5em;
    font-family: "Bangers";
    font-size: var(--h1-font-size);
}

.bx-badge-check{
    color: rgb(0, 145, 255);
}

.bx-plus, .bx-happy-heart-eyes{
    font-size: x-large;
    margin-left: 5px;
}

.profile .login__btn{
    display: inline-flex;
}

.profile .btn1{
    background: transparent;
    color: var(--life);
    margin-left: 1em;
    padding: 12px;
    padding-bottom: 10px;
    font-weight: bold;
    border:2px solid var(--life);
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.userpfp{
    width: 50px;
    border-radius: 50%;
}

/*<==USER==>*/
.user img{
    object-position: center;
    width: 150px;
    border-radius: 10px;
}

.community{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.user span p:nth-child(1){
    font-family: "Bangers";
    font-size: var(--h1-font-size);
}

.user span p:nth-child(2){
    font-size: large;
}

.user{
    padding: 1em;
    border: 2px solid var(--life);
    display: flex;
    border-radius: 10px; 
    transition: .3s;
}

.user span{
    margin-left: 1em;
}

.user:hover{
    transform: translate(0, -10px);

}

.community_{
    display: grid;
	--auto-grid-min-size: 100%;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	grid-gap: 3rem;
    width: 100%;
}

.community__title{
    font-size: var(--big-font-size);
    font-family: "Bangers";
}

@media screen and (max-width:830px){
    .buttons{
        flex-direction: column;
        align-items: center;
    }

    .banner{
        height: 10rem;
    }

    .profile img{
        width: 100px;
        height: 100px;
    }


    .btn1{
        margin-top: 1em;
        width: 11.6em;
        margin-left: -2.4px !important;
        display: inline-flex;
        justify-content: center;

    }
}